.forecast {
  font-size: 25px;
  text-transform: capitalize;
  text-decoration-line: none;
}

.weatherApp {
  border: 1px solid #e663a5;
  padding: 15px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
}
.low,
.high {
  font-size: 10px;
}

.low_high {
  text-align: center;
}
.unitStyle {
  font-size: 16px;
  vertical-align: text-top;
  text-decoration: none;

  color: black;
}
.unitStyle {
  color: black;
  transition: all 150ms ease-in-out;
}

.unitColor {
  cursor: default;
  text-decoration: none;
  color: black;
}

.unitColor:hover {
  color: black;
  text-decoration: none;
}
.under {
  text-decoration: none;
}
.weatherForecast {
  margin: 0 auto;
}
@media (max-width: 800px) {
  .hourContent {
    padding: 0;
  }
}
.unit a {
  text-decoration: none;
}

.dayForecast-min {
  margin-left: 10px;
  opacity: 55%;
}
.WeatherIcon {
  margin: 10px;
  max-width: 100%;
  height: auto;
}

.weatherForecast .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}
.weatherForecast .col {
  flex: 1;
}
